<div class="parcel">
  <parcel
    [config]="config"
    [mountParcel]="mountRootParcel"
    [customProps]="parcelProps"
  ></parcel>
</div>
<div class="container-wrapper">
  <div class="card">
    <div class="card-content-wrapper">
      <img class="card-image" [src]="africanWildDog" />
    </div>
    <div class="card-content-wrapper">
      <span>African Wild Dog</span>
    </div>
    <div class="card-content-wrapper">
      <span
        >Origin: Plains, bushy savannahs, woodlands, upland forests,
        semi-deserts, mountainous areas</span
      >
    </div>
  </div>

  <div class="card">
    <div class="card-content-wrapper">
      <img class="card-image" [src]="colobusMonkey" />
    </div>
    <div class="card-content-wrapper">
      <span>Colobus Monkey</span>
    </div>
    <div class="card-content-wrapper">
      <span>Origin: Closed forests</span>
    </div>
  </div>

  <div class="card">
    <div class="card-content-wrapper">
      <img class="card-image" [src]="dwarfMongoose" />
    </div>
    <div class="card-content-wrapper">
      <span>Dwarf Mongoose</span>
    </div>
    <div class="card-content-wrapper">
      <span>Origin: Savannah, woodlands, mountain scrub brush country</span>
    </div>
  </div>
</div>
